@import '../../shared';

.filepicker {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

  &:focus + label,
  & + label:hover {
    background-color: red;
  }
}
