@import '../../shared';

section#calendar {
  @include desktop {
    height: 100%;
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(9, minmax(140px, 1fr));
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      'day1   day1  day2  day15 day20 day20 day14 day14 day14'
      'day10  day12 day2  day4  day4  day5  day6  day6  day22'
      'day10  day12 day3  day3  day7  day5  day6  day6  day22'
      'day10  day24 day24 day8  day9  day5  day17 day16 day16'
      'day18  day24 day24 day24 day9  day19 day19 day19 day23'
      'day18  day8  day8  day24 day13 day11 day11 day21 day23';
    grid-gap: 5px;
    justify-content: center;
  }
  display: flex;
  flex-direction: column;
}
